// 変数作るところ、複数使う色とか
$font-white: #fff;
$font-black: #333;
$font-light-black: #434a54;
$font-grey: #999;

$side_header_black: #253141;
$side_groups_black: #2f3e51;
$chat_blue: #38aef0;
$chat_white: #fafafa;
$chat_grey: #ddd;
$chat_border: #eee;