// 変数作るところ、複数使う色とか
$white: #fff;
$black: #333;
$light_black: #434a54;
$grey: #999;

$side_header_black: #253141;
$side_groups_black: #2f3e51;

$light_blue: #38aef0;
$light_white: #fafafa;
$light_grey: #ddd;

$chat_border: #eee;

$alert_orange: #F35500;