// 変数作るところ、複数使う色とか
$font_white: #fff;
$font_black: #333;
$font_light_black: #434a54;
$font_grey: #999;

$side_header_black: #253141;
$side_groups_black: #2f3e51;
$chat_blue: #38aef0;
$chat_white: #fafafa;
$chat_grey: #ddd;
$chat_border: #eee;