.chat{
  width: calc(100vw - 300px);
  text-decoration: none;
  .header{
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    border-bottom: 1px solid $chat_border;
    &__left{
      float: left;
      &__current-group{
        margin-top: 35px;
        font-size: 20px;
        color: $black;
      }
      &__members{
        margin-top: 15px;
        font-size: 12px;
        display: flex;
        color: $grey;
        &__member{
          display: inline-block;
          padding-left: 5px;
        }
      }
    }

    &__right{
      float: right;
      border: 1px solid $light_blue;
      margin-top: 28px;
      height: 40px;
      line-height: 40px;
      &__btn{
        color: $light_blue;
        margin: 0 20px;
      }
    }
  }
  
  .messages{
    background-color: $light_white;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message{
      &__upper{
        display: flex;
        &__user{
          color: $light_black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          padding-left: 10px;
          color: $grey;
          font-size: 12px;
        }
      }
      &__lower{
        margin-top: 10px;
        &__content{
          color: $light_black;
          font-size: 14px;
          margin-bottom: 40px;
        }
        &__image{
          width: 300px;
          height: 200px;
        }
      }
    }
  }

  .form{
    background-color: $light_grey;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    &__message{
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask{
      background-color: $light_white;
      padding-right: 10px;
      float: left;
      height: 50px;
      &__image{
        font-size: 20px;
        line-height: 50px;
      }
      .hidden{
        display: none;
      }
    }
    &__submit{
      margin-left: 15px;
      padding: 0 30px;
      float: right;
      width: 100px;
      height: 50px;
      color: $white;
      background-color: $light_blue;
      border: none;
    }
  }
}