.side-bar{
  width: 300px;
  color: $white;
  .header{
    background-color: $side_header_black;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name{
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__menu{
      display: inline-block;
      float: right;
      &__list{
        display: inline-block;
        .icon{
          color: $white;
        }
      }
    }
  }

  .groups{
    background-color: $side_groups_black;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    .group{
      padding: 20px 0;
      &__name{
        color: $white;
        font-size: 15px;
        font-weight: bold;
      }
      &__message{
        margin-top: 5px;
        color: $white;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}
a:-webkit-any-link {
  text-decoration: none;
}